
body{
    height:100%;
    
    background-image:url("images/Rover\ 7.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    
}
.flex-box{
   positon:realtive;
}
    
.avatar{
    width:100px;
    height:100px;
    position:absolute;
    top: -50px;
    left:calc(38%)
     
}
.loginhead{
    width: 520px;
    height:620px;
    background-color:transparent;
    color:white;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border:2.5px white solid;
    padding:30px;
}
h1{
    text-align:center;
    font-family: cursive;
}
.loginhead label
{
    font-size:25px;
    font-family: cursive;
}
.loginhead input[type = "text"],input[type = "password"],input[type="email"]
{
    background:transparent;
    outline:none;
    border:none;
    border-bottom: 1px black solid;
    padding-top:10px;
    font-size:15px;
    font-size:15px; 
    color:white;
}
.loginhead input{
    width:100%;
    margin-bottom:20px;
}
.loginhead input[type = "button"]
{
    background-color:brown;
    border-radius: 12px;
    font-family: cursive;
    border:none;
    outline:none;
}
.loginhead a{
     font-size:17px;
     line-height:20px;
     color:white;
}
.loginhead input[type="button"]:hover
{
    color:red;
    background:gray;
}
.loginhead a:hover
{
   color:red;
}

